{% from "_GripsEntryHelper.html" import render_field %}
{% extends "bootstrap/base.html" %}

<html>
    <head style="background-color: lightblue;">
        <title>GRIPS.on</title>
    </head>
    <body>
        {% block content %}
        <div class="row">
            <div class="col-sm-12 well well-sm">
                <h1 style="color: cornflowerblue">GRIPS!on</h1>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('form') }}">

                {{ form.csrf_token }}
                <div class="row">
                    <div class="col-sm-12 bg-primary">
                        <h1>Verbesserung</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 panel panel-info" style="height: 360px;">
                        <div class="panel-heading" style="height: 50px;">
                            <h4><strong>Überschrift</strong></h4>
                        </div>
                        <div class="panel-body">
                            {{ render_field(form.go_improvement) }}
                        </div>
                        <h3>Abteilung</h3>
                        {{ render_field(form.go_dept_1) }}
                        {{ render_field(form.go_dept_2) }}
                        {{ render_field(form.go_dept_3) }}
                        {{ render_field(form.go_dept_4) }}
                    </div>
                    <div class="col-sm-6 panel panel-info" style="height: 360px;">
                        <div class="panel-heading" style="height: 50px;">
                            <h4>Warum war die Verbesserung notwendig?</h4>
                        </div>
                        <div class="panel-body">
                            {{ render_field(form.go_why_1) }}
                            {{ render_field(form.go_why_2) }}
                            {{ render_field(form.go_why_3) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Welche Veränderung gab es?</h3>
                        {{ render_field(form.go_what_1) }}
                        {{ render_field(form.go_what_2) }}
                        {{ render_field(form.go_what_3) }}
                    </div>
                    <div class="col-sm-6">
                        <h3>Was sind die Highlights?</h3>
                        {{ render_field(form.go_high_1) }}
                        {{ render_field(form.go_high_2) }}
                        {{ render_field(form.go_high_3) }}
                    </div>
                <div class="row">
                    <div class="col-sm-1">
                        <input type="submit" class="btn btn-primary" value="Eintragen">
                    </div>      
                </div>
                </div>               
                </form>

            </div>               
        </div>  
        {% endblock %}    
    </body>
</html>