<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename="slide.css") }}">
{% endblock %}

</head>

{% block content %}
<body>
    <div class="slideshow-container">
        <img src="{{ url_for('static', filename="grips_on_logo.png") }}" /> 
        
        {% for i in range(db_len) %}
            {% for k in data %}

        <div class="mySlides fade">
            <div class="row">
                <div class="col-sm-1">
                    <h6 class="bg-info">GripsON-ID = {{ k['id'] }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 panel panel-primary">
                    <div class="panel-heading" style="max-height: 50px; ">
                        <h4>Verbesserug</h4>
                    </div>
                    <div class="panel-body" style="height: 300px;">
                        <h3><strong>{{ k['go_improvement'] }}</strong></h3>
                        <h3>Betrifft welche Abteilung?</h3>
                        <p>{{ k['go_dept_1'] }}</p>
                        <p>{{ k['go_dept_2'] }}</p>
                        <p>{{ k['go_dept_3'] }}</p>
                        <p>{{ k['go_dept_4'] }}</p>
                    </div>
                </div>
                <div class="col-sm-4 panel panel-success">
                    <div class="panel-heading" style="max-height: 50px;">
                        <h4>Warum war die Verbsserung nötig?</h4>
                    </div>
                    <div class="panel-body" style="height: 300px;">
                        <p>{{ k['go_why_1'] }}</p>
                        <p>{{ k['go_why_2'] }}</p>
                        <p>{{ k['go_why_3'] }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 panel panel-warning">
                    <div class="panel-heading" style="max-height: 50px;">
                        <h4>Was wurde gemacht?</h4>
                    </div>
                    <div class="panel-body" style="height: 300px;">
                        <p>{{ k['go_what_1'] }}</p>
                        <p>{{ k['go_what_2'] }}</p>
                        <p>{{ k['go_what_3'] }}</p>
                    </div>
                </div>
                <div class="col-sm-4 panel panel-info">
                    <div class="panel-heading" style="max-height: 50px;">
                        <h4>Was sind die Highlights</h4>
                    </div>
                    <div class="panel-body" style="height: 300px;">
                        <p>{{ k['go_high_1'] }}</p>
                        <p>{{ k['go_high_2'] }}</p>
                        <p>{{ k['go_high_3'] }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>This is a Heading2</h2>
                    <h6>This is the end</h6>
                </div>
            </div>  
        </div> 
            {% endfor %}
        {% endfor %}

    </div>
    <br>
    <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
    </div>

{% endblock %}
{% block scripts %}

   <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }   
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 1500); // Change image every 2 seconds 
    }

    var secConv = 1000;
    var timeout = setTimeout("location.reload(true);",3600 * secConv); // in Sekunden
    function resetTimeout() {
        clearTimeout(timeout);
        timeout = setTimeout("location.reload(true);",3600 * secConv); // in Sekunden
    }

   </script>
{% endblock %}
</body>

</html>